<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL" value="https://azureautomationpocqc.azurewebsites.net/"/>
		<add key="UserName" value="azureautomationpoc@gmail.com"/>
		<add key="Password" value="Azure123"/>
		<add key="InvalidUserName" value="azureautomationpoc@g.com"/>
		<add key="InvalidPassword" value="Lucky"/>
	</appSettings>
</configuration>