<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="URL" value="https://azurehclkantar.azurewebsites.net/"/>
		<add key="UserName" value="Ramkrishna.tokala@gmail.com"/>
		<add key="Password" value="Lucky123"/>
		<add key="InvalidUserName" value="Ramkrishna.tokala@gmail.con"/>
		<add key="InvalidPassword" value="Lucky12"/>
	</appSettings>
</configuration>